<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insert Registro Dia</title>
</head>
<body>
    <form action="" method="POST">
        <label for="">Carboidrato:</label>
        <input type="text" name="carbo">
        <br>
        <label for="">Proteina:</label>
        <input type="text" name="proteina">
        <br>
        <label for="">Salada:</label>
        <input type="text" name="salada">
        <br>
        <label for="">Sobremesa:</label>
        <input type="text" name="sobremesa">
        <br>
        <label for="">Id da Nutrcionista do Dia:</label>
        <input type="number" name="nutri_do_dia">
        <br>
        <button type="submit" value="submit">Adicionar</button>
    </form>
</body>
</html>