<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Responsavel</title>
</head>
<body>
    <table border="2">
        <tr>
            <td>ID</td>
            <td>Nome</td>
            <td>Email</td>
            <td>CPF</td>
        </tr>
        {% for responsavel in details %}
        <tr>
            <td>{{responsavel[0]}}</td>
            <td>{{responsavel[1]}}</td>
            <td>{{responsavel[2]}}</td>
            <td>{{responsavel[3]}}</td>
        </tr>
        {% endfor %}
    </table>
    <hr>
</body>
</html>