<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Alunos</title>
</head>
<body>
    <table border="2">
        <tr>
            <td>ID</td>
            <td>Matricula</td>
            <td>Nome</td>
            <td>CPF</td>
            <td>idResponsavel</td>
        </tr>
        {% for aluno in details %}
        <tr>
            <td>{{aluno[0]}}</td>
            <td>{{aluno[1]}}</td>
            <td>{{aluno[2]}}</td>
            <td>{{aluno[3]}}</td>
            <td>{{aluno[4]}}</td>
        </tr>
        {% endfor %}
    </table>
    <hr>
</body>
</html>