<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Nutricionista</title>
</head>
<body>
    <table border="2">
        <tr>
            <td>ID</td>
            <td>Nome</td>
            <td>Email</td>
            <td>Registro</td>
            <td>CPF</td>
        </tr>
        {% for nutricionista in details %}
        <tr>
            <td>{{nutricionista[0]}}</td>
            <td>{{nutricionista[1]}}</td>
            <td>{{nutricionista[2]}}</td>
            <td>{{nutricionista[3]}}</td>
            <td>{{nutricionista[4]}}</td>
        </tr>
        {% endfor %}
    </table>
    <hr>
</body>
</html>