*{
    padding: 0;
    margin: 0;

}
body{
    background-color: #edf2f4;

}
img{
    height: 200px;
    border: solid 1px;
    margin: 5px;
    border-radius: 10px;

}
#nome, #curso, #email{
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 1.3rem;
    margin: 10px 5px;   

}
.tabela{
    text-align: center;
    padding: 5px;
    margin: 15px 5px;
    border-radius: 5px;
    font-weight: 500;

}
td{
    background-color: rgb(207, 207, 207);
    border-radius: 5px;
    padding: 3px 5px;
    color: black;

}
.tabela-titulo{
    background-color: rgb(126, 125, 125);
    padding: 5px;
    font-weight: bold;
    border-radius: 5px;

}
ul{
    margin-top: 15px;

}
ul li{
    margin: 5px;

}
li a{
    text-decoration: none;
    color: black;

}